# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Fabric Loom / Minecraft
.fabric/
run/
cache/
mappings/
generated/
logs/
.project
.classpath

# Other
*.log
*.jar
*.zip
*.swp
*.class

!/gradle/wrapper/gradle-wrapper.jar